nav, ul, li, main, header, h1, h2, body{
    margin: 0;
    border: 0;
    padding: 0;
    font-style: italic;
    text-decoration: none;
    text-align: none;
}
body {
    background-image: url(backgroundImage/homebackground.png);
    background-color: #ff0099;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 50px;
}
header h2 {
    text-align: center;
    font-size: 40px;
}
nav {
    text-align: center;
}
nav ul {
    text-align: center;
    background: #5599ff url(backgroundImage/navBackground.png);
    list-style: none;
    display: inline;
}
nav li {
    padding: 0 10px;
    display: inline;
}
nav a {
    font-size: 20px;
    color: #223300;
    text-decoration: none;
}
nav a:visited {
    color: #223300;
}
main p {
    text-align: left;
    font-size: 30px;
}
main img {
    float: left;
}
.hidden {
    opacity: 0;
}