body{
    background: #ff3399 url(../images/backgroundImage/homebackground.png);
}
#description {
    font-family: fantasy;
    font-size: 20px;
    color: midnightblue;
    border: 3px dotted black;
}
main {
    background: #5599ff url(../images/backgroundImage/mainBackground.png);
}
